* {
  box-sizing: border-box;
  font-family: "Gill Sans";
  color: white;
}

body {
  font-size: large;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(pizzabackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 80%;
}

#restaurant-popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: x-large;
}

#restaurant-list {
  font-size: large;
}

nav {
  font-size: x-large;
  padding: 10px;
}
nav:hover {
  background-color: yellow;
  cursor: pointer;
  color: black;
}

h1 {
  font-size: 70px;
  -webkit-text-stroke: 2px black;
}

h2 {
  border: 7px solid white;
  /* -webkit-text-stroke: 2px black; */
}

h4 {
  font-size: large;
  text-align: center;
}

h4 > ul {
  text-align: center;
}

li {
  list-style-type: none;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  background-color: yellow;
  color: black;
}

button {
  font-family: "Gill Sans";
  color: white;
  border: 0;
  background-color: transparent;
  font-size: xx-large;
  font-weight: bold;
}

button:hover {
  background-color: yellow;
  color: black;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

ul {
  padding: 0px;
  font-size: medium;
  text-align: left;
}

#toppingsLabel {
  font-size: medium;
}
